

  <div class="container-fluid">
    <div class="alert alert-dark divtop m-0" role="alert">

      <ul class="nav justify-content-end navtop ">
        <li class="nav-item">
          <a class="nav-link  active py-0" href="#">Careers <span class="m-0 pl-2">&#8226;</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active m-0 pl-0 py-0" href="#">News <span class="m-0 pl-2">&#8226;</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active m-0 pl-0 py-0" href="#">Events <span class="m-0 pl-2">&#8226;</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active m-0 pl-0 py-0" href="#">Investors <span class="pl-2">|</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active globe py-0" href="#">Worldwide</a>



        </li>
        <li class="nav-item">
          <a class="nav-link  active" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
              <path fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
            </svg></a>
        </li>

      </ul>

    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-white sticky-top  py-4">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="COG-Logo-White.svg" alt="" height="auto" width="220px">
        </a>
        <i class="fa fa-bars float-right text-success hamberger" ></i>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link headnav " href="#" style="color: black;"><span class="h5 headnavspan">Industries<svg class="dir-btm pl-1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                    <g fill="#00b140" stroke="#00b140">
                      <path
                        d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                        stroke-width="2" />
                    </g>
                  </svg></span>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link headnav" href="#"style="color: black;"><span class="h5">Services <svg class="dir-btm pl-1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                    <g fill="#00b140" stroke="#00b140">
                      <path
                        d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                        stroke-width="2" />
                    </g>
                  </svg></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link headnav " href="#"style="color: black;"><span class="h5">Latest Thinking <svg class="dir-btm pl-1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                    <g fill="#00b140" stroke="#00b140">
                      <path
                        d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                        stroke-width="2" />
                    </g>
                  </svg>

                </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link headnav" href="#"style="color: black;"><span class="h5">About <svg class="dir-btm pl-1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                    <g fill="#00b140" stroke="#00b140">
                      <path
                        d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                        stroke-width="2" />
                    </g>
                  </svg></span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="alert alert-white p-0 m-0 chaos-img " role="alert">
      <img class="p-0 m-0 img-responsive fit-image chaos-img" src="assets/chaos.jpg" width="100%">
      <div class=" chaos ">
        <h1 class="">Chaos To <br>Catalyst</h1><br>
        <h5 class="text-dark navigate ">Navigate the COVID-19 crisis and its aftermath, and<br>emerge with a commanding
          position in your industry.</h5>
        <a class="boxlink" href="#"><span class="border border-success text-success h5 SEEHOW">SEE HOW<svg
              class="dir-rig pl-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
              <g fill="#00b140" stroke="#00b140">
                <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                  stroke-width="2" />
              </g>
            </svg></span></a>
      </div>
      <span class="left-triangle"><svg class="dir-left-outer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50"
          xml:space="preserve">
          <g fill="#00b140" stroke="#00b140">
            <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
              stroke-width="2" />
          </g>
        </svg></span>
      <span class="right-triangle"><svg class="dir-right-outer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50"
          xml:space="preserve">
          <g fill="#00b140" stroke="#00b140">
            <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
              stroke-width="2" />
          </g>
        </svg></span>

    </div>
    <div class="card mb-3 mx-auto mt-5 model" style="max-width: 75%">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/ClientStories-spotlight.jpg" class="card-img client" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <span class="card-title client-title h5">Client Stories</span>
            <p class="h2 Client-model">A model for moving forward</p>
            <p class="card-text lead text-dark client-p">Faced with the daunting challenge of doing business amid the
              pandemic, our clients are adapting with innovative and practical new solutions</p>
            <a class="boxlink" href="#"><span class="learnmore">LEARN MORE <svg class="learnmore-svg pl-2"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#fff" stroke="#fff">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class=" mx-auto mt-4 clinical_myths" style="max-width: 75%">
      <div class="card flex-fill mr-2" style="width: 18rem;">
        <img src="assets/clinical-trials-at-home-spotlight2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span class="clinicalvideo">VIDEO</span>
          <p class="clinicalimprove h3">Improve efficiency to accelerate clinical trials</p>
          <p class="lead ">Learn from industry leaders how the <span style="color:#00b140">Shared Investigator Platform
            </span>connects teams from one place, with one sign, speeding clinical trials.</p>
          <a class="boxlink" href="#"><span class="watchvideo">Watch VIDEO <svg class="watchvideo-svg pl-2"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                <g fill="#fff" stroke="#fff">
                  <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                    stroke-width="2" />
                </g>
              </svg></span></a>
        </div>
      </div>
      <div class="card flex-fill ml-2" style="width: 18rem;">
        <img src="assets/three-myths-and-fixes-for-paycheck-protection-program-next-phase-perspectives-spotlight-homepage.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <span class="clinicalmyths">PERSPECTIVES</span>
          <p class="h3" style="color:#0033a0">Three myths and fixes for <span style="color: #00b140;">Paycheck
              Protection Program’s</span> next phase</p>
          <p class="lead">We’ve noted three persistent myths about loan forgiveness that may hold lenders back. By
            getting past these myths, lenders can excel during phase two.</p>
          <a class="boxlink" href="#"><span class="learnmore">LEARN MORE <svg class="learnmore-svg pl-2"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                <g fill="#fff" stroke="#fff">
                  <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                    stroke-width="2" />
                </g>
              </svg></span></a>
        </div>
      </div>
    </div>
    <div class=" card my-4 mx-auto" style="max-width: 75%">
      <div class="row no-gutters flex-row-reverse">
        <div class="col-md-4">
          <img src="assets/safe-and-smart-buildings-spotlight.jpg" class="card-img" alt="...">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <span class="safeperspective">PERSPECTIVES</span>
            <p class="h3" style="color:#0033a0">Five ways to reopen safe buildings</p>
            <p class="lead">Physical distancing alerts. Air quality sensors. These are a few of the measureable ways
              that help people feel safe, and technology can make it happen.</p>
            <a class="boxlink" href="#"><span class="learnmore">LEARN MORE <svg class="learnmore-svg pl-2"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#fff" stroke="#fff">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg></span></a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="covid_insurer mx-auto my-4" style="max-width: 75%">
      <div class="card flex-fill mr-2" style="width: 18rem;">
        <img src="assets/covid-Response_spotlight.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <span class="covidspecial">SPECIAL REPORT</span>
          <p class=" h3" style="color: #0033a0;">Responding to COVID-19</p>
          <p class="lead ">Keeping people healthy (and businesses running) requires three tools: information,
            preparedness and compassion.</p>
          <a class="boxlink" href="#"><span class="learnmorecovid">LEARN MORE <svg class="learnmore-svg pl-2"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                <g fill="#fff" stroke="#fff">
                  <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                    stroke-width="2" />
                </g>
              </svg></span></a>
        </div>
      </div>
      <div class="card flex-fill ml-2" style="width: 18rem;">
        <img src="assets/q2-homepage-cognizant-policyholder-connect-insurance-spotlight-video.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <span class="clinicalvideo">VIDEO</span>
          <p class="h3" style="color:#0033a0">
            How insurers can deliver modern CX </p>
          <p class="lead">With customers seeking relevant, on-demand digital communications, learn how you can promote
            trust and tailored interactions.</p>
          <a class="boxlink" href="#"><span class="watchvideo">WATCH VIDEO <svg class="watchvideo-svg pl-2"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                <g fill="#fff" stroke="#fff">
                  <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                    stroke-width="2" />
                </g>
              </svg></span></a>
        </div>
      </div>
    </div>
    <div class="card mb-3 mx-auto mt-5 model" style="max-width: 75%">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/gartner-hp-spotlight.jpg " class="card-img client i8mg-fluid img-responsive" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <span class="analyst">ANALYST ACCOLADE</span>
            <p class="h4" style="color:#0033a0">Discover why Gartner named us a Magic Quadrant Leader</p>
            <p class="lead text-dark">Cognizant’s excellence in public cloud services revolves around our ability to
              deliver high-quality professional and managed services that optimize the capabilities of the cloud
              platform.</p>
            <a class="boxlink" href="#"><span class="learnmorediscover">LEARN MORE <svg class="learnmore-svg pl-2"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#fff" stroke="#fff">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-dark anualdiv" role="alert">
      <img class="annualreportimg" src="assets/annual-report-2019.png" alt=" ">
      <div class="anualheader">
        <p class="h3 " style="color:#0033a0;">Solving real human problems</p>
        <p class="lead text-dark aanualpara">Today’s organizations need to do more than pursue the latest technologies.
          They<br> need to enhance the lives of people around the world.</p>
        <a class="boxlink" href="#"><span class="learnmore">READ 2019 ANNUAL REPORT <svg class="learnmore-svg pl-2"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
              <g fill="#fff" stroke="#fff">
                <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                  stroke-width="2" />
              </g>
            </svg></span></a>
      </div>
    </div>
    <div class="alert alert-white" role="alert">
      <p class=" pressheader" style="color:#0033a0"><b>PRESS RELEASES</b></p>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <p class="h5 date">SEPTEMBER 2 2020</p>
            <a class="h3 presslink" style="color: #00b140; " href="#">Cognizant to Present at the Citi 2020 Global
              Technology Virtual Conference</a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">

            <p class="h5 date">SEPTEMBER 2 2020</p>
            <a class="h3 presslink " style="color: #00b140;" href="#">Cognizant to Acquire 10th Magnitude</a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">

            <p class="h5 date">SEPTEMBER 2 2020</p>
            <a class="h3 presslink" style="color: #00b140;" href="#">Cognizant to Acquire Tin Roof Software to Expand
              Digital Engineering Services</a>

          </div>
        </div>
        <div class="row pt-4">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <p class="h5 date">SEPTEMBER 2 2020</p>
            <a class="h3 presslink" style="color: #00b140;" href="#">Cognizant Completes Acquisition of New Signature, a
              Leader in Cloud-Native Business Transformation</a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">

            <p class="h5 date">SEPTEMBER 2 2020</p>
            <a class="h3 presslink" style="color: #00b140;" href="#">Cognizant to Acquire 10th Magnitude</a>
          </div>
        </div>

      </div>
      <a class="boxlink" href="#"><span class="learnmoreVIEW">VIEW ALL PRESS RELEASES <svg class="learnmore-svg pl-2"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
            <g fill="#fff" stroke="#fff">
              <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                stroke-width="2" />
            </g>
          </svg></span></a>


    </div>
    <div class="pressrelease alert mx-auto" role="alert" style="max-width: 75%;">
      <p class="pdate mt-4 h5">PRESS RELEASE |07.29.2020</p>
      <P class="preports h4"><b>COGNIZANT REPORTS SECOND QUARTER 2020 RESULTS</b></P>
      <a class="boxlink1" href="#"><span class="learnmorepress mb-4">READ MORE <svg class="learnmore-svg pl-2"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
            <g fill="#fff" stroke="#fff">
              <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                stroke-width="2" />
            </g>
          </svg></span></a>

    </div>
    <div class="alert alert-dark latestthinking pb-5" role="alert">
      <p class="platest h1"><b>LATEST THINKING</b></p>
      <div class="container">

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="min-height: 320px;">
              <img src="assets/continuous-delivery-operating-model-for-entertainment-video-providers-codex5348_TL.jpg"
                class="card-img-top latestimg" alt="...">
              <span class="latestspan h6">PERSPECTIVES</span>
              <div class="latestinnerdiv">
                <a class="latestlink h5" href="#">Six steps to Reimagine Software Engineering</a>
                <p class="lead h5">In the post-COVID-19 world software engineering organizations... </p>
                <hr>
                <i><svg width="1.5em" height="1.5em" viewBox="0 2.5 16 16" class="bi bi-envelope" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                  </svg></i>
                <i class="fa fa-twitter" style="font-size:24px;padding-left:12px;margin-top: 20px;"></i>
                <i class="fa fa-facebook" style="font-size:24px;padding-left: 12px;margin-top: 20px;"></i>
                <i class="fa fa-linkedin" style="font-size:24px;padding-left: 12px; margin-top: 20px;"></i>
                <svg class="latest-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#00b140" stroke="#00b140">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="min-height: 320px;">
              <img src="assets/data-and-analytic-models-have-a-best-used-by-date-ignore-them-at-your-peril_TL.jpg"
                class="card-img-top latestimg" alt="...">

              <span class="latestspan h6">PERSPECTIVES</span>
              <div class="latestinnerdiv">
                <a class="latestlink h5" href="#">Six steps to Reimagine Software Engineering</a>
                <p class="lead h5">In the post-COVID-19 world software engineering organizations... </p>
                <hr>
                <i><svg width="1.5em" height="1.5em" viewBox="0 2.5 16 16" class="bi bi-envelope" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                  </svg></i>
                <i class="fa fa-twitter" style="font-size:24px;padding-left:12px;margin-top: 20px;"></i>
                <i class="fa fa-facebook" style="font-size:24px;padding-left: 12px;margin-top: 20px;"></i>
                <i class="fa fa-linkedin" style="font-size:24px;padding-left: 12px; margin-top: 20px;"></i>
                <svg class="latest-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#00b140" stroke="#00b140">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg>

              </div>


            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card " style="min-height: 320px;">
              <img src="assets/going-digital-not-without-a-simple-modern-and-secure-it-backbone-codex3016_TL.jpg"
                class="card-img-top latestimg" alt="...">
              <span class="latestspan h6">PERSPECTIVES</span>
              <div class="latestinnerdiv ">
                <a class="latestlink h5" href="#">Six steps to Reimagine Software Engineering</a>
                <p class="lead h5">In the post-COVID-19 world software engineering organizations... </p>
                <hr>
                <i><svg width="1.5em" height="1.5em" viewBox="0 2.5 16 16" class="bi bi-envelope" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                  </svg></i>
                <i class="fa fa-twitter" style="font-size:24px;padding-left:12px;margin-top: 20px;"></i>
                <i class="fa fa-facebook" style="font-size:24px;padding-left: 12px;margin-top: 20px;"></i>
                <i class="fa fa-linkedin" style="font-size:24px;padding-left: 12px; margin-top: 20px;"></i>
                <svg class="latest-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#00b140" stroke="#00b140">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="min-height: 320px;">
              <img src="assets/continuous-delivery-operating-model-for-entertainment-video-providers-codex5348_TL.jpg"
                class="card-img-top latestimg" alt="...">
              <span class="latestspan h6">PERSPECTIVES</span>
              <div class="latestinnerdiv">
                <a class="latestlink h5" href="#">Six steps to Reimagine Software Engineering</a>
                <p class="lead h5">In the post-COVID-19 world software engineering organizations... </p>
                <hr>
                <i><svg width="1.5em" height="1.5em" viewBox="0 2.5 16 16" class="bi bi-envelope" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                  </svg></i>
                <i class="fa fa-twitter" style="font-size:24px;padding-left:12px;margin-top: 20px;"></i>
                <i class="fa fa-facebook" style="font-size:24px;padding-left: 12px;margin-top: 20px;"></i>
                <i class="fa fa-linkedin" style="font-size:24px;padding-left: 12px; margin-top: 20px;"></i>
                <svg class="latest-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#00b140" stroke="#00b140">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="min-height: 320px;">
              <img src="assets/data-and-analytic-models-have-a-best-used-by-date-ignore-them-at-your-peril_TL.jpg"
                class="card-img-top latestimg" alt="...">

              <span class="latestspan h6">PERSPECTIVES</span>
              <div class="latestinnerdiv">
                <a class="latestlink h5" href="#">Six steps to Reimagine Software Engineering</a>
                <p class="lead h5">In the post-COVID-19 world software engineering organizations... </p>
                <hr>
                <i><svg width="1.5em" height="1.5em" viewBox="0 2.5 16 16" class="bi bi-envelope" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                  </svg></i>
                <i class="fa fa-twitter" style="font-size:24px;padding-left:12px;margin-top: 20px;"></i>
                <i class="fa fa-facebook" style="font-size:24px;padding-left: 12px;margin-top: 20px;"></i>
                <i class="fa fa-linkedin" style="font-size:24px;padding-left: 12px; margin-top: 20px;"></i>
                <svg class="latest-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#00b140" stroke="#00b140">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg>

              </div>


            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card " style="min-height: 320px;">
              <img src="assets/going-digital-not-without-a-simple-modern-and-secure-it-backbone-codex3016_TL.jpg"
                class="card-img-top latestimg" alt="...">
              <span class="latestspan h6">PERSPECTIVES</span>
              <div class="latestinnerdiv ">
                <a class="latestlink h5" href="#">Six steps to Reimagine Software Engineering</a>
                <p class="lead h5">In the post-COVID-19 world software engineering organizations... </p>
                <hr>
                <i><svg width="1.5em" height="1.5em" viewBox="0 2.5 16 16" class="bi bi-envelope" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                  </svg></i>
                <i class="fa fa-twitter" style="font-size:24px;padding-left:12px;margin-top: 20px;"></i>
                <i class="fa fa-facebook" style="font-size:24px;padding-left: 12px;margin-top: 20px;"></i>
                <i class="fa fa-linkedin" style="font-size:24px;padding-left: 12px; margin-top: 20px;"></i>
                <svg class="latest-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
                  <g fill="#00b140" stroke="#00b140">
                    <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                      stroke-width="2" />
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="alert alert-light" role="alert">
      <p class="digitally "><b>DIGITALLY COGNIZANT</b></p>
      <span class="view h6">View: <a class="viewlink1 h6" href="#"><u>Most Recent</u> &nbsp |</a> <a
          class="viewlink2 h6" href="#"><b>Most Popular</b></a> </span>
      <div class="alert mx-auto comment " role="alert">
        <p class="h5">September 03 2020 &emsp; 110 views</p>
        <a class="link1 h4 p" href="#">With Fewer People In The Workplace, IT Support Will Shift into a New Role</a>
        <p class="h5">IT support staff can play a key role in implementing and supporting the safe workspaces being
          created as part of a return-to-work strategy</p>
        <img class="rounded-circle" src="assets/Amresh Singh-337.jpg" alt=" " width="60px">
        <span class="ml-5">By Amresh Singh</span>
        <hr class="bg-dark">
        <p class="h5">September 01 2020 &emsp; 142 views</p>
        <a class="link1 h4 p" href="#">With the Next Phase of PPP Undecided, Here’s What Banks Can Do to Prepare</a>
        <p class="h5">Here's what PPP lenders can do during this period of legislative limbo to ensure they can act
          quickly when more clarity is gained.</p>
        <img class="rounded-circle" src="assets/Jack Leach-432.jpg" alt=" " width="60px">
        <span class="ml-5">By Jack Leach</span>
        <hr class="bg-dark">
        <p class="h5">August 31 2020 &emsp; 145 views</p>
        <a class="link1 h4 p" href="#">Augmented and Virtual Reality Will Fill in the Gaps Enforced by Social
          Distancing</a>
        <p class="h5">In a contactless world, organizations will turn to augmented and virtual reality to design
          employee and customer interactions.</p>
        <img class="rounded-circle" src="assets/Amresh Singh-337.jpg" alt=" " width="60px">
        <span class="ml-5">By Amresh Singh</span>
        <hr class="bg-dark">
        <a class="commentbutton" href="#"><span class="learnmorecomment mb-4">VISIT THE DIGITALLY COGNIZANT BLOG <svg
              class="learnmore-svg pl-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 50" xml:space="preserve">
              <g fill="#fff" stroke="#fff">
                <path d="M26.88,44.574L0,9.186h53.76L26.88,44.574z M4.709,11.521L26.88,40.715l22.172-29.193H4.709z"
                  stroke-width="2" />
              </g>
            </svg></span></a>



      </div>

    </div>
    <div class="take-first-step mb-5 mx-auto" style="max-width: 75%;">
      <div class="container-fluid margin-custom">
        <h1 class=" text-center" style="color: #0033a0;">TAKE THE FIRST STEP</h1>
        <p class="text-center h5 my-4">
          Serving customers by looking forward as well as back is a big
          promise, but the power of today’s new digital capabilities is vast
          and growing.
        </p>
        <p class="h5 text-center mb-5">
          <strong>Let’s talk about how digital can work for your business.</strong>
        </p>
        <div class="row">
          <div class="col-sm-6 col-lg-4 d-flex flex-column mb-5 border-bot">
            <input type="text" placeholder="John Smith" name="name" class="position-relative" />
            <label class="mb-0 h4 position-absolute" for="name">NAME*</label>
          </div>
          <div class="col-sm-6 col-lg-4 d-flex flex-column mb-5 border-bot">
            <input type="text" placeholder="johnsmith@example.com" name="name" class="position-relative" />
            <label class="mb-0 h4 position-absolute" for="name">EMAIL*</label>
          </div>
          <div class="col-sm-6 col-lg-4 d-flex flex-column mb-5 border-bot">
            <input type="text" placeholder="Abc company" name="name" class="position-relative" />
            <label class="mb-0 h4 position-absolute" for="name">ORGANIZATION*</label>
          </div>
          <div class="col-sm-6 col-lg-4 d-flex flex-column mb-5 border-bot">
            <input type="number" placeholder="Abc company" name="name" class="position-relative" />
            <label class="mb-0 h4 position-absolute" for="name">CONTACT NUMBER*</label>
          </div>
          <div class="col-sm-6 col-lg-4 input-group border-bot mb-4 pb-3">
            <select class="h4 w-100" name="region" class="input">
              <option value="Select" disabled="disabled" selected>
                REGION*
              </option>
              <option class="color-green" value="North America">North America</option>
              <option class="color-green" value="South America">South America</option>
              <option class="color-green" value="Europe">Europe</option>
              <option class="color-green" value="Middle East">Middle East</option>
              <option class="color-green" value="APAC">APAC</option>
              <option class="color-green" value="India">India</option>
            </select>
          </div>
          <div class="col-sm-6 col-lg-4 input-group border-bot mb-4 pb-3">
            <select class="h4 w-100" name="inquiry" class="input">
              <option value="Select" disabled="disabled" selected>
                INQUIRY TYPE*
              </option>
              <option class="color-green" value="Alumni">Alumni</option>
              <option class="color-green" value="Career Seekers">Career Seekers</option>
              <option class="color-green" value="Investor Relations">Investor Relations</option>
              <option class="color-green" value="Media">Media</option>
              <option class="color-green" value="Alliances">Partners</option>
              <option class="color-green" value="Request for Services">
                Request for Services
              </option>
            </select>
          </div>
          <div class="col input-group border-bot">
            <textarea name="message" placeholder="Your Message..." class="input  w-100 position-relative"></textarea>

            <label class="mb-0 h4 position-absolute" for="name">MESSAGE*</label>
          </div>
        </div>
        <div class="row mt-5">
          <button href="#" class="btn  btn-lg d-block mx-auto" style="background-color: #00b140;">
            <span style="color: white;">SUBMIT</span>
            <svg class="h4" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid  py-3" style="background-color: #e6e6e6;">
      <div class="container-fluid margin-custom">
        <div class="row">
          <div class="col-md-5 col-sm-12 d-flex social mt-2">
            <a href="#" class="color-green mr-5"><strong><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
              </strong></a>
            <a href="#" class="color-green mr-5"><strong><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              </strong></a>
            <a href="#" class="color-green mr-5"><strong><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
              </strong></a>
            <a href="#" class="color-green mr-5"><strong><i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
              </strong></a>
            <a href="#" class="color-green"><strong><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
              </strong></a>
          </div>
          <div class="col-md-7 col-sm-12 d-flex justify-content-between">
            <div class="row w-100">
              <div class="col-lg-7 col-xl-7 col-md-12 col-sm-12  d-flex justify-content-between mt-2">
                <a href="#" class="text-dark"><strong>Sitemap</strong></a>
                <a href="#" class="text-dark"><strong>Terms</strong></a>
                <a href="#" class="text-dark"><strong>Privacy Notice</strong></a>
                <a href="#" class="text-dark"><strong>Cookie</strong></a>
              </div>
              <div class="col-lg-5 col-xl-5 col-md-12 col-sm-12 mt-2">©2020 Cognizant, all rights reserved</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer container py-5">
      <div class="row">
        <div class="col-sm-9">
          <h6>INDUSTRIES</h6>
          <div class="row">
            <div class="col-sm-4">
              <a href="#" class="text-decoration-none">Banking</a>
              <a href="#" class="text-decoration-none">Capital Markets</a>
              <a href="#" class="text-decoration-none">Communications, Media &amp; Technology
              </a>
              <a href="#" class="text-decoration-none">Consumer Goods</a>
              <a href="#" class="text-decoration-none">Education</a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="text-decoration-none">Healthcare</a>
              <a href="#" class="text-decoration-none">Information Services</a>
              <a href="#" class="text-decoration-none">Insurance</a>
              <a href="#" class="text-decoration-none">Life Sciences</a>
              <a href="#" class="text-decoration-none">Manufacturing</a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="text-decoration-none">Oil &amp; Gas</a>
              <a href="#" class="text-decoration-none">Retail</a>
              <a href="#" class="text-decoration-none">Transportation &amp; Logistics</a>
              <a href="#" class="text-decoration-none">Travel &amp; Hospitality</a>
              <a href="#" class="text-decoration-none">Utilities</a>
            </div>
          </div>
          <h6>SERVICES</h6>
          <div class="row">
            <div class="col-sm-4">
              <a href="#" class="link-blue text-decoration-none"><strong>Cognizant Digital Business</strong></a>
              <a href="#" class="text-decoration-none">Artificial Intelligence</a>
              <a href="#" class="text-decoration-none">Digital Engineering</a>
              <a href="#" class="text-decoration-none">Digital Strategy</a>
              <a href="#" class="text-decoration-none">Interactive</a>
              <a href="#" class="text-decoration-none">Internet of Things</a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="link-blue text-decoration-none"><strong>Cognizant Digital Operations</strong></a>
              <a href="#" class="text-decoration-none">Enterprise Services</a>
              <a href="#" class="text-decoration-none">Industry &amp; Platform Solutions</a>
              <a href="#" class="text-decoration-none">Intelligent Process Automation</a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="link-blue text-decoration-none"><strong>Cognizant Digital Operations</strong></a>
              <a href="#" class="text-decoration-none">Application Services</a>
              <a href="#" class="text-decoration-none">Cloud Enablement</a>
              <a href="#" class="text-decoration-none">Cognizant Infrastructure</a>
              <a href="#" class="text-decoration-none">Services</a>
              <a href="#" class="text-decoration-none">Cognizant Security</a>
              <a href="#" class="text-decoration-none">Core Modernization</a>
              <a href="#" class="text-decoration-none">Enterprise Application Services</a>
              <a href="#" class="text-decoration-none">Quality Engineering &amp; Assurance</a>
            </div>
          </div>
          <a href="#" class="link-blue text-decoration-none">
            <h6>COGNIZANT CONSULTING</h6>
          </a>
          <h6>LATEST THINKING</h6>
          <div class="row">
            <div class="col-sm-4">
              <a href="#" class="link-blue text-decoration-none"><strong>Our Media &amp; Publications</strong></a>
              <a href="#" class="text-decoration-none">All Latest Thinking</a>
              <a href="#" class="text-decoration-none">Broswe Case Studies</a>
              <a href="#" class="text-decoration-none">Cognizant Podcasts</a>
              <a href="#" class="text-decoration-none">Cognizanti Journal</a>
              <a href="#" class="text-decoration-none">Digitally Cognizant Blog</a>
              <a href="#" class="text-decoration-none">Infographics</a>
              <a href="#" class="text-decoration-none">Perspectives</a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="link-blue text-decoration-none"><strong>Key Themes</strong></a>
              <a href="#" class="text-decoration-none">AI Primary Research</a>
              <a href="#" class="text-decoration-none">Blockchain Primary Research</a>
              <a href="#" class="text-decoration-none">Blockchain Solutions</a>
              <a href="#" class="text-decoration-none">Code Halos</a>
              <a href="#" class="text-decoration-none">Digital Maturity Research</a>
              <a href="#" class="text-decoration-none">When Machines Do Everything</a>
              <a href="#" class="text-decoration-none">World Economic Forum-Davos</a>
            </div>
            <div class="col-sm-4">
              <a href="#" class="link-blue text-decoration-none"><strong>Center for the Future</strong></a>
              <a href="#" class="text-decoration-none">21 More Jobs of the Future</a>
              <a href="#" class="text-decoration-none">Digital Workforce of the Future</a>
              <a href="#" class="text-decoration-none">Explore the Future of Work</a>
              <a href="#" class="text-decoration-none">Jobs of the Future Index</a>
              <a href="#" class="text-decoration-none">Our Post-COVID Future</a>
              <a href="#" class="text-decoration-none">The Work Ahead</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h6>ABOUT COGNIZANT</h6>
          <a href="#" class="text-decoration-none">2019 in Focus</a>
          <a href="#" class="text-decoration-none">Be.Cognizant</a>
          <a href="#" class="text-decoration-none">Board of Directors</a>
          <a href="#" class="text-decoration-none">Client Briefing Program</a>
          <a href="#" class="text-decoration-none">Cognizant Events</a>
          <a href="#" class="text-decoration-none">Contact Us</a>
          <a href="#" class="text-decoration-none">Corporate Governance</a>
          <a href="#" class="text-decoration-none">Culture &amp; Values</a>
          <a href="#" class="text-decoration-none">Diversity &amp; Inclusion</a>
          <a href="#" class="text-decoration-none">Leadership Team</a>
          <a href="#" class="text-decoration-none">News &amp; Press Releases</a>
          <a href="#" class="text-decoration-none">Partnerships</a>
          <a href="#" class="text-decoration-none">Public Policy</a>
          <a href="#" class="text-decoration-none">Sustainability</a>
          <a href="#" class="text-decoration-none">Telent Worldwide</a>
          <a href="#" class="text-decoration-none">Women Empowered</a>

          <a href="#" class="link-blue text-decoration-none">
            <h6>GLOSSARY</h6>
          </a>
          <h6>INFORMATION FOR SUPPLIERS</h6>
          <a href="#" class="text-decoration-none">Procure-to-pay</a>
        </div>
      </div>
    </div>



  </div>







